# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# IDE settings
.vscode/
.idea/

# Logs and temporary files
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Compiled files
*.so
