# LLM APIs
OPENAI_API_KEY=your_openai_key_here
GOOGLE_API_KEY=your_google_key_here
COHERE_API_KEY=your_cohere_key_here
TOGETHER_API_KEY=your_together_key_here

# 🚀 FASTAPI SERVER CONFIG
APP_NAME="Data-to-Dashboard"
APP_ENV="development"
APP_HOST="0.0.0.0"
APP_PORT=8000
DEBUG=true
LOG_LEVEL="info"


# 🧠 WEAVIATE CONFIG
WEAVIATE_HOST="127.0.0.1"
WEAVIATE_PORT=8080
WEAVIATE_GRPC_HOST="127.0.0.1"
WEAVIATE_GRPC_PORT=50051
WEAVIATE_SECURE=false
WEAVIATE_API_KEY=""

# 🍃 MONGODB CONFIG
#LOCAL
MONGODB_USERNAME="admin"
MONGODB_PASSWORD="pulsebord"
MONGODB_HOST="localhost"
MONGODB_PORT="27017"
MONGODB_DATABASE="datatodashboard"
MONGODB_AUTHSOURCE="admin"
MONGODB_AUTHMECHANISM="SCRAM-SHA-256"

#PROD
# MONGODB_USERNAME="akhileshdamke7860_db_user"
# MONGODB_PASSWORD="0fcLykb4GmY7TbFl"
# MONGODB_HOST="pulseboard.urcn1qc.mongodb.net"
# MONGODB_PORT="27017"
# MONGODB_DATABASE="master"             
# MONGODB_AUTHSOURCE="admin"
# MONGODB_AUTHMECHANISM="SCRAM-SHA-1"
# MONGODB_PROTOCOL="mongodb+srv"


# ⚡ REDIS CONFIG
REDIS_HOST="localhost"
REDIS_PORT="6379"
REDIS_DB=0
REDIS_PASSWORD=""


# 🧰 OPTIONAL - FRONTEND OR EXTERNAL API KEYS
FRONTEND_URL="http://localhost:3000"
API_VERSION="v1"


# 🧩 DOCKER SERVICE NAMES (when used inside Docker Compose)
DOCKER_MONGODB_HOST="mongo"
DOCKER_WEAVIATE_HOST="weaviate"
DOCKER_REDIS_HOST="redis"

# Example for Docker URI usage
DOCKER_MONGO_URI="mongodb://${MONGODB_USERNAME}:${MONGODB_PASSWORD}@mongo:27017/${MONGODB_DATABASE}?authSource=admin"
DOCKER_REDIS_URL="redis://redis:6379"
DOCKER_WEAVIATE_URL="http://weaviate:8080"

API_URl= "http://localhost:8000"