#llm keys
GOOGLE_API_KEY="AIzaSyC7hptCPzLt1tKE7BcLNuw0a4TLC9G-qmU"
COHERE_API_KEY="oNBJbpKbDfHJyJBECE0uWMJ35zs7xfocZjGaTyOW"

#local mongo db
MONGODB_USERNAME=admin
MONGODB_PASSWORD=pulsebord
MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_AUTHMECHANISM=SCRAM-SHA-256

#production mongo db
# MONGODB_USERNAME=akhileshdamke7860_db_user
# MONGODB_PASSWORD=0fcLykb4GmY7TbFl
# MONGODB_HOST=pulseboard.urcn1qc.mongodb.net
# MONGODB_PORT=27017
# MONGODB_AUTHMECHANISM=SCRAM-SHA-256

#weaviate db
