version: '3.9'

services:
  weaviate:
    image: semitechnologies/weaviate:1.27.0
    container_name: weaviate
    restart: always
    ports:
      - "8080:8080"      # HTTP API
      - "50051:50051"    # gRPC
    environment:
      QUERY_DEFAULTS_LIMIT: 25
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: 'true'
      PERSISTENCE_DATA_PATH: '/var/lib/weaviate'
      DEFAULT_VECTORIZER_MODULE: 'none'
      ENABLE_MODULES: "text2vec-google"
      CLUSTER_HOSTNAME: 'node1'
    volumes:
      - weaviate_data:/var/lib/weaviate

volumes:
  weaviate_data: